@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        direction: rtl;
        font-family: 'Vazirmatn', 'Tahoma', 'Arial', sans-serif !important;
    }

    body {
        @apply antialiased;
        font-family: 'Vazirmatn', 'Tahoma', 'Arial', sans-serif !important;
    }

    input,
    textarea,
    select,
    button,
    div,
    span,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Vazirmatn', 'Tahoma', 'Arial', sans-serif !important;
    }
}